@import '../../styles/variables.scss';

.link {
  text-decoration: none;
  outline: none;
  padding: 10px;
  display: block;
  height: 100%;
  color: inherit;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 28px 30px;
  }
}
.item {
  position: relative;
  flex-basis: calc(100% / 2 - 10px);
  margin-top: 10px;
  margin-left: 10px;

  min-height: 136px;
  border-radius: 5px;

  &:nth-child(4n + 1) {
    background-color: #8c72df;
    color: #8c72df;
    @media screen and (min-width: 768px) {
      background-image: url('./Group777.svg');
      background-repeat: repeat-x;
      background-position: left 25px;
    }
    @media screen and (min-width: 1280px) {
      background-position: -170px 76px;
    }
  }

  &:nth-child(4n + 2) {
    background-color: #ff765f;
    color: #ff765f;
    @media screen and (min-width: 768px) {
      background-image: url('./Group777.svg');
      background-repeat: repeat-x;
      background-position: -236px 25px;
    }
    @media screen and (min-width: 1280px) {
      background-position: -470px 76px;
    }
  }

  &:nth-child(4n + 3) {
    background-color: #71df87;
    color: #71df87;
    @media screen and (min-width: 768px) {
      background-image: url('./Group777.svg');
      background-repeat: repeat-x;
      background-position: -472px 25px;
    }
    @media screen and (min-width: 1280px) {
      background-position: -770px 76px;
    }
  }

  &:nth-child(4n + 4) {
    background-color: #b4f866;
    color: #b4f866;
    @media screen and (min-width: 768px) {
      background-image: url('./Group777.svg');
      background-repeat: repeat-x;
      background-position: -472px 25px;
    }
    @media screen and (min-width: 1280px) {
      background-position: -1070px 76px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-top: 20px;
    margin-left: 20px;
    min-height: 216px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    min-height: 270px;
  }
}

.projectTitle {
  margin-bottom: 6px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: var(--color-card-text);

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.23;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.projectDescription {
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-card-text);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
  }
}
.itemDeleteBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: none;
  color: inherit;

  transition: all $trans-func $trans-dur;

  &:hover,
  &:focus {
    svg {
      transform: scale(1.15);
    }
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.deleteIcon {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}
