//font
$mainFont: 'Montserrat', sans-serif;
//animation
$trans-func: linear;
$trans-dur: 250ms;
$shadow-auth: 0px 6px 26px rgba(0, 5, 97, 0.1);
$shadow-btn: 0px 3px 4px rgba(255, 107, 8, 0.3);
$shadow-project-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-modal: 0px 6px 26px rgba(0, 5, 97, 0.1);

//colors
@mixin light-theme {
  --color-main-text: #000000;
  --color-main-title: #181c27;
  --color-main-background: #f1f2f7;

  --color-input-text: rgba(24, 28, 39, 0.6);
  --color-card-background: #ffffff;
  --color-card-text: #ffffff;

  --color-btn-text: #ffffff;
  --color-secondary-btn-background: #a6a6a6;
  --color-secondary-btn-background-hover: #8b8b8b;
  --color-btn-background: #ff6b08;
  --color-btn-background-hover: #ee5f00;
}
