.sprintProjectConteiner {
  display: none;
  width: 256px;
  padding: 20px 27px 80px 40px;
  background-color: yellow;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: 255px;
    padding: 20px 30px 50px 55px;
  }
}
