.sprintCard {
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 170px;
  background-color: red;
  padding: 20px;
}

.sprintTitel {
  margin-bottom: 20px;
}

.sprintItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.sprintDelBt {
  position: absolute;
  border: none;
  background: none;
  right: 10px;
  bottom: 10px;
  &:hover {
    background-color: #fff;
  }
}
