.sprintProjectConteiner {
  position: relative;
  display: none;
  width: 256px;
  height: 100vh;
  padding: 20px 26px 80px 0px;
  border-right: 1px solid rgba(24, 28, 39, 0.1);

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    padding: 20px 30px 50px 0px;
  }
}

.sprintListProject {
  overflow-y: auto;
  max-height: 670px;
  margin-top: 60px;
  margin-bottom: 150px;

  @media screen and (min-width: 1280px) {
    max-height: 320px;
  }
}

.projectItem {
  position: relative;
  height: 36px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projectLink {
  text-decoration: none;
  color: inherit;
  padding-left: 51px;
}

.projectItem:nth-child(3n + 1) {
  &.projectItem::before {
    background-color: #8c72df;
  }
}

.projectItem:nth-child(3n + 2) {
  &.projectItem::before {
    background-color: #ff765f;
  }
}

.projectItem:nth-child(3n + 3) {
  &.projectItem::before {
    background-color: #71df87;
  }
}

.projectItem::before {
  position: absolute;
  z-index: -1;
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

//Стили скрола

.sprintListProject::-webkit-scrollbar {
  width: 7px;
}

.sprintListProject::-webkit-scrollbar-track {
  // -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

.sprintListProject::-webkit-scrollbar-thumb {
  background-color: var(--color-btn-background);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}
