.btGoBack {
  margin-bottom: 40px;
  padding: 10px 0px;
  border: none;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.arrow {
  width: 30px;
  height: 10px;
  margin-right: 20px;
}
