.conteinerPeopleAdd {
  margin-bottom: 30px;
}

.iconPeopleAdd {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btnPeopleAdd {
  display: flex;

  border: none;
  background: none;
  text-decoration: underline;

  font-size: 18px;
  line-height: 22px;
}
