.conteinerPeopleAdd {
  margin-bottom: 30px;
}

.iconPeopleAdd {
  cursor: pointer;
  margin-right: 10px;
  background-color: black;
  fill: black;
}

.btnPeopleAdd {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
